ul {
  width: 500px;
}
.content {
  width: 1100px;
}
.us p {
  width: 1000px;
  margin-left: 150px;
}
.services__items {
  width: 1000px;
  margin-left: 150px;
}
.px {
  width: 1000px;
  margin-left: 150px;
}
